.carousel_Container {
    max-height: 500px;
    width: 100%;
    // background-color: black;

    background-image: linear-gradient(180deg, hotpink, rgb(150, 203, 238));

    // display: flex;
    // justify-content: center;
    // align-items: center;
}
// .carousel_img {
//     height: 500px;
//     width: 300px;
// }
h3,
h4 {
    font-size: 3rem;
    color: white;
    -webkit-text-stroke: 2px hotpink;
}
.img {
    width: 500px;
    height: 500px;
    display: block;
    margin: auto;
}
