img {
    height: 50%;
    width: 50%;
}

.favorited {
    background-color: hotpink;
}
.item_container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item_sm_container {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}
* {
    font-size: 1.2rem;
}
span {
    font-weight: 800;
}
p {
    font-size: 1.5rem;
}
button {
    border-radius: 50%;
}
