.svg {
    height: 80%;
    width: 70%;
}
.navbar_brand {
    margin-left: 0;
    margin-right: 0;
}
// .emoji {
//     width: 50%;
//     height: 50%;
//     margin-left: auto;
// }
.nav_container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
